<section class="categories-section">
    <a routerLink="/category/shirt-style" class="category">
        <img src="../../../assets/images/category1.webp" alt="Shirt style">
        <h3>SHIRT STYLE!</h3>
        <button>SHOP NOW</button>
    </a>
    <a routerLink="/category/loungewear-love" class="category">
        <img src="../../../assets/images/category2.jpeg" alt="Loungewear love">
        <h3>LOUNGEWEAR LOVE</h3>
        <button>SHOP NOW</button>
    </a>
    <a routerLink="/category/light-jackets" class="category">
        <img src="../../../assets/images/category3.jpeg" alt="Light jackets">
        <h3>LIGHT JACKETS</h3>
        <button>SHOP NOW</button>
    </a>
</section>
