<section (change)="handleChange($event)">
    <div class="left-section">
        <h3>Filter Products:</h3>
        <select name="color" [(ngModel)]="filterQuery.color">
            <option disabled selected> Color </option>
            <option *ngFor="let c of availableColors" value="{{c}}">{{c}}</option>
        </select>
        <Select name="size" [(ngModel)]="filterQuery.size">
            <option disabled selected> Size </option>    
            <option> All </option>
            <option *ngFor="let s of availableSizes" value="{{s}}">{{s}}</option>
        </Select>
    </div>
    <div class="right-section">
        <h3>Sort Products:</h3>
        <select name="sort">
            <option value="newest" selected>Newest</option>
            <option value="price-asc">Price (asc)</option>
            <option value="price-desc">Price (desc)</option>
        </select>
    </div>
</section>
