
h2 {
    text-align: center;
    font-size: 2em;
}

.top {
    display: flex; 
    justify-content: space-between; 
    margin: 1em;
}

.top button {
    height: 35px;
    border: 2px solid;
    width: 150px;
    font-weight: bold;
}

.continue-shop-btn {
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}

a:checked, a:active {
    color: black;
}

.middle {
    display: flex;
}

.top .middle h4 {
    margin: 0 .5em;
    color: black;
}

.check-btn {
    background-color: black;
    color: white;
}

.buttom {
    display: flex;
    margin: 0 1em;
}

.noItemsTemplate {
    flex: 1;
    text-align: center;
    margin: auto auto;
}

.products-sect {
    flex: 3;
    width: 68%;
    height: 155px;
    margin-right: 1em;
    position: relative;
}

.product-sect {
    transition: 0.3s;
    border-radius: 10px;
}

.product-sect:hover{
    background-color: rgba(229, 229, 229, 0.3);
}

.delete-product {
    position: absolute;
    right: 3px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    font-size: 1.2em;
    transition: 0.3s;
}

.delete-product:hover {
    color: white;
    background-color: #c70000c4;
}

.feat-section {
    display: flex;
}

.products-sect img {
    width: 150px;
    height: 150px;
}

.feat {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1em;
    width: 50%;
}

.feat h6 {
    font-size: 1em;
    margin: 0;
    font-weight: lighter;
}

.feat h6 b {
    font-weight: bold;
}

.amount {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.amount div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.amount div button {
    border: none;
    background: white;
    font-size: 2em;
    margin: 0 5px;
    cursor: pointer;
}

.amount h6, .amount h3 {
    font-size: 2em;
    margin: 0;
    font-weight: lighter;
}

.summary {
    border: 1px solid gray;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    height: 400px;
}

.summary h3 {
    margin: 0;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.summary div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.summary div h5 {
    font-size: 1em;
    margin: 0;
}

.summary div h4 {
    margin: 0;
    font-size: 1.3em;
}

.summary button {
    height: 35px;
    border: 2px solid;
    width: 300px;
    font-weight: bold;
    background-color: black;
    color: white;
}

@media screen and (max-width: 430px) {
    .middle {
        display: none
    }

    .buttom {
        flex-direction: column;
    }

    .products-sect {
        width: auto;
        margin: 0;
    }

    .feat-section {
        width: 400px;
        flex-wrap: wrap;
    }

    .feat {
        width: 45%;
    }

    .amount {
        width: 100%;
    }

    .amount div button {
        margin: 10px;
    }
}